<div class="container">

	<h1 class="text-center" >Movie Lists</h1>

	<%= link_to "Add a movie list", new_list_path, class: "btn btn-outline-primary" %><br>
	<br>

	<ol>
		<% @lists.each do |list| %>   
		<li><div class="d-flex justify-content-between">
      <div> <%= list.name %> </div>
      <div>
      <%= link_to "View", list_path(list), class: "text-primary", method: :get %>
		<% end %>
	</ol>
</div>
